#map {
    height: 90%;
    /* or 100% if you want it to fill the container */
    width: 100%;
}



#map {
  display: flex;
  justify-content: center; /* Centers child elements horizontally */
  align-items: center; /* Centers child elements vertically */
}

