/*=====ADD TO ALL PAGES=====*/
:root {
    --background-color: #8E7CC3;
    --nav-background-color: #361C74;
    --main-cream-color: #FFF3CC;
    --main-yellow-color: #FFD966;
    --text-color: black;
}

[data-theme="dark"] {
    --background-color: #232323;
    --nav-background-color: #151515;
    --main-cream-color: #545454;
    --main-yellow-color: #838383;
    --text-color: white;
}

[data-theme="high-contrast"] {
    --background-color: #000000;
    --nav-background-color: #7600A8;
    --main-cream-color: #D26CFE;
    --main-yellow-color: #ffee00;
    --text-color: rgb(0, 0, 0);
}

body {
    background-color: var(--background-color);
    margin: 0;
    font-family: arial;
}
/*^^^ADD TO ALL PAGES^^^*/

/* WRAPPER */
.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    color: var(--text-color)
}

/* WEEK NAV */
#week-nav {
    display: flex;
    position: sticky;
    top: 15rem;
    width: 15rem;
    height: 30rem;
    margin-right: 1rem;
}

#week-nav ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#week-nav li {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--main-yellow-color);
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    font-size: xx-large;
}

/* MAIN SCHEDULE */
main {
    background-color: var(--main-cream-color);
    border-radius: 50px;
    padding: 2rem;
    width: 30rem;
    min-width: 300px;
    height: 5000px; /*temp height (should be auto) */
    margin-right: 5vw;
    margin-bottom: 4rem;
}

/* MAP */
#map-background {
    position: sticky;
    top: 8rem;
    background-color: var(--main-cream-color);
    border-radius: 15px;
    padding: 1rem;
    width: 30rem;
    min-width: 20rem;
    height: 45rem;
}

#map {
    border: 1px dashed black;
    height: 90%;
}

#map-totals {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .wrapper { flex-wrap: wrap; justify-content: center; }
    #week-nav { position: static; height: 30rem; }
    #week-nav li { margin-bottom: 0.5rem; }
    main { margin: 0 2rem 2rem 2rem; }
    #map-background { position: static; }
}
